/**
 * Typography utilities
 */
.u-font-sm { font-size: 0.875rem !important; }
.u-font-md { font-size: 1rem !important; }
.u-font-lg { font-size: 1.25rem !important; }
.u-font-bold { font-weight: 700 !important; }